.main-head {
  line-height: 60px;
}
.b2b-banner {
  background-image: url("/images/bcb-banner.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100dvh;
}
.bcb-banner {
  padding-left: 5%;
}
@media screen and (max-width: 768px) {
  .main-head {
    line-height: normal;
  }

  .b2b-banner {
    background-image: url("/images/mobnav.jpg");
  }
}
