.main-head {
  line-height: 60px;
}
.b2b-banner {
  background-image: url("/images/bcb-banner.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100dvh;
}
.bcb-banner {
  padding-left: 5%;
}
@media screen and (max-width: 768px) {
  .main-head {
    line-height: normal;
  }

  .b2b-banner {
    background-image: url("/images/b2bmob.jpg");
  }
  .tab-view {
    display: none;
  }
  .tab-view-btn {
    
    /* width: 100%; */
    align-self: center !important;
    justify-content: center !important;
    margin-top: 350px !important;
    margin-bottom: 0 !important;
    padding: 8px 16px !important;

  }
}
@media only screen and (max-width: 600px){
  .bcb-banner {
    padding-left: 0 !important;
  }
  .b2b-banner {
    background-image: url("/images/b2bmob.jpg");
    background-position: center top !important;
    background-size: cover !important;
  }
   
  .tab-view-btn {
    /* width: 100%; */
    align-self: center !important;
    justify-content: center !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;

  }
}
