@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background-primary: #03141c;
  --primary-color: #197a8a;
  --secondary-color: #e6af55;
  --primary-font-color: #ffffff;
  --font-main: 48px;
  --font-base-2: 18px;
  --font-base: 16px;
}

@font-face {
  font-family: "Glacial Indifference";
  src: url("/fonts/GlacialIndifference-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Glacial Indifference";
  src: url("/fonts/GlacialIndifference-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Minion";
  src: url("/fonts/Minion-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Minion";
  src: url("/fonts/MinionPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: var(--background-primary);
}

.h-fix-screen {
  height: calc(var(--vh, 1vh) * 100);
}

body {
  @apply text-[var(--primary-font-color)];
}

h1 {
  @apply text-[var(--secondary-color)] text-6xl;
}

h2 {
  @apply text-[var(--secondary-color)] text-6xl font-bold;
}

h3 {
  @apply text-[var(--secondary-color)] text-4xl font-bold;
}

h4 {
  @apply text-[var(--secondary-color)] text-2xl font-bold;
}
h5 {
  @apply text-[var(--secondary-color)] text-xl font-bold;
}

p {
  @apply text-[var(--primary-font-color)];
}

@layer components {
  .primary-color {
    background-color: var(--primary-color);
  }
  .secondary-color {
    background-color: var(--secondary-color);
  }
  .primary-font {
    font-family: "Glacial Indifference", sans-serif;
    line-height: normal;
  }
  .secondary-font {
    font-family: "Minion", sans-serif;
    line-height: normal;
  }
  h2,
  h3 {
    letter-spacing: 1px;
  }
  .font-base {
    font-size: 22px;
    line-height: normal;
  }
  .font-base-1 {
    font-size: 20px;
    line-height: normal;
  }
  .font-base-2 {
    font-size: 14px;
    line-height: normal;
  }
  .font-base-3 {
    font-size: 18px;
    line-height: normal;
    font-family: "Karma", sans-serif;
  }
  .footer-bg {
    background-image: url("/images/footer-bg.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .hero-bg-1 {
    background-image: url("/images/new-home-banner.jpg");
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .hero-bg-2 {
    background-image: url("/images/Home-banner-2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .glass-effect {
    background: #00404465;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  .list-with-image {
    list-style: none;
    padding-left: 0;
  }

  .list-with-image li {
    position: relative;
    padding-left: 30px; /* Adjust based on your image size */
    margin-bottom: 10px;
  }

  .list-with-image li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-image: url("/images/listimg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .numberPointList > li::before {
    position: absolute;
    content: attr(num);
    left: 0;
    font-weight: 500;
    font-family: "Karma", sans-serif;
  }
}
.rdrDayStartOfMonth .rdrInRange,
.rdrDayStartOfMonth .rdrEndEdge,
.rdrDayStartOfWeek .rdrInRange,
.rdrDayStartOfWeek .rdrEndEdge,
.rdrDayEndOfMonth .rdrInRange,
.rdrDayEndOfMonth .rdrStartEdge,
.rdrDayEndOfWeek .rdrInRange,
.rdrDayEndOfWeek .rdrStartEdge,
.rdrStartEdge,
.rdrEndEdge {
  border-radius: 0 !important;
}

.rdrDateDisplayWrapper {
  border-top: 16px !important;
}
.rdp-caption_start .rdp-caption_end {
  justify-content: center !important;
}
.rdp-day_selected {
  background-color: #e6af55 !important;
  color: white !important;
  border-radius: 0 !important;
}
.rdp-vhidden {
  display: none !important;
}
h2 {
  line-height: normal;
}
.btnfont {
  font-size: 25px;
  /* margin-top: 5px; */
  font-family: "Minion", sans-serif;
  text-transform: uppercase;
}

.subbtnFont {
  font-size: 25px;
  font-family: "Minion", sans-serif !important;
  /* margin-top: 5px; */
  font-weight: bold;
}
.cusineFont {
  font-size: 25px;
}
.cusineBox {
  width: 280px;
  height: 280px;
}
.cusineBoxPop {
  width: 458px;
  height: 500px;
  background: border-box;
}

.decoDiv {
  top: 240%;
}

.faqFont {
  font-size: 30px;
}

@media screen and (min-width: 1600px) {
  .cusineBox {
    width: 320px;
    height: 320px;
  }
  .cusineFont {
    font-size: 36px;
  }
  .subbtnFont {
    font-size: 25px;
  }
  .btnfont {
    font-size: 35px;
    margin-top: 5px;
  }
}
.borderImage {
  position: relative;
  overflow: hidden;
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 0;
  border-right-width: 0;
  border-style: dashed;
  border-image-source: url("/images/testi-border.png");
  border-image-slice: 30;
  border-image-repeat: repeat;
}

.borderImage::before,
.borderImage::after {
  content: "";
  position: absolute;
  top: 0;
  width: 12px; /* or your image width */
  height: 100%;
  background-repeat: repeat-y;
  background-size: cover;
  z-index: 10;
}

.borderImage::before {
  left: 0;
  background-image: url("/images/vertiBorder.png"); /* left border */
}

.borderImage::after {
  right: 0;
  background-image: url("/images/vertiBorder.png"); /* right border (flip image if needed) */
}
.swiper-button-next,
.swiper-button-prev {
  position: relative !important;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "" !important;
}
@media screen and (max-width: 1550px) {
  .factFontSize {
    font-size: 20px;
  }
}

@media screen and (max-width: 1440px) {
  .decoDiv {
    top: 220%;
  }
}

@media screen and (max-width: 1300px) {
  .cusineBox {
    width: 220px;
    height: 220px;
  }
}

@media screen and (max-width: 1050px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    @apply text-[var(--secondary-color)] text-5xl font-bold;
  }
  h3 {
    @apply text-[var(--secondary-color)] text-2xl font-bold;
  }
  h4 {
    font-size: 20px;
  }
  .font-base {
    font-size: 18px;
  }
  .font-base-1 {
    font-size: 18px;
    line-height: normal;
  }
  .font-base-3 {
    font-size: 14px;
  }
  .btnfont {
    font-size: 25px;
    margin-top: 5px;
  }
  .cusineBox {
    width: 250px;
    height: 250px;
  }
  .cusineBoxPop {
    width: 430px;
    height: 430px;
  }
  .cusineFont {
    font-size: 22px;
  }
  .subbtnFont {
    font-size: 18px;
  }
  .decoDiv {
    top: 240%;
  }
}
@media screen and (max-width: 850px) {
  h1 {
    font-size: 26px;
  }
  h2 {
    @apply text-[var(--secondary-color)] text-4xl font-bold;
  }
  h3 {
    @apply text-[var(--secondary-color)] text-3xl font-bold;
  }
  h4 {
    @apply text-[var(--secondary-color)] text-2xl font-bold;
  }
  .font-base {
    font-size: 14px;
    line-height: normal;
  }
  .font-base-1 {
    font-size: 12px;
    line-height: normal;
  }
  .font-base-3 {
    font-size: 12px;
    line-height: normal;
  }
  .font-base-4 {
    font-size: 18px;
    line-height: normal;
  }
  .stepImg {
    width: 240px;
  }
  .cusineBox {
    width: 200px;
    height: 200px;
  }
  .cusineBoxPop {
    width: 400px;
    height: 400px;
  }
  .cusineflexWrap {
    flex-wrap: wrap;
  }
  .subbtnFont {
    font-size: 18px;
  }
  .navPadding {
    padding: 15px;
  }
  .flexCol {
    flex-direction: column !important;
    align-items: center;
  }
  .wFull {
    width: 100%;
  }
  .decoDiv {
    /* top: 240%; */
    display: none;
  }
  .faqFont {
    font-size: 25px;
  }
}

@media screen and (max-width: 600px) {
  .hero-section {
    height: 100vh !important;
  }
  .about-banner {
    background-image: url("/images/aboutmob.png");
  }
  .hero-bg-1 {
    background-image: url("/images/home-new-bnr1.jpg");
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .hero-bg-2 {
    background-image: url("/images/home-new-bnr2.jpg");
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    @apply text-[var(--secondary-color)] text-2xl font-bold;
  }
  h4 {
    @apply text-[var(--secondary-color)] text-xl font-bold;
  }
  .font-base {
    font-size: 14px;
    line-height: normal;
  }
  .font-base-1 {
    font-size: 15px;
    line-height: normal;
  }
  .cuisineExplore {
    font-size: 12px;
  }
  .font-base-3 {
    font-size: 15px;
    line-height: normal;
  }
  .font-base-4 {
    font-size: 16px;
    line-height: normal;
  }
  .logoImg {
    width: 90px;
  }
  .socialImg {
    width: 40px;
  }
  .contactImg {
    width: 20px;
  }
  .btnfont {
    font-size: 25px;
  }
  .cusineBoxPop {
    width: 310px;
    height: 310px;
  }
  .cusineFont {
    font-size: 27px;
  }
  .subbtnFont {
    font-size: 18px;
  }
  .detailWidth {
    width: 100%;
  }
  .hero {
    margin-top: 0 !important;
    gap: 2px;
  }
  .hero-section {
    /* height: 80vh !important; */
  }

  .hero-font {
    text-shadow: 0 0 10px #000;
    font-size: 18px !important;
  }
  .faqFont {
    font-size: 20px;
  }
}

@media screen and (max-width: 380px) {
  h1 {
    font-size: 25px;
  }
  .btnfont {
    font-size: 20px;
  }
  .hero-font {
    font-size: 15px !important;
  }
  .mobBanner {
    height: 600px;
  }
}

@media screen and (max-width: 350px) {
  h1 {
    font-size: 22px !important ;
  }
  h2 {
    @apply text-[var(--secondary-color)] text-2xl font-bold;
  }
  h3 {
    @apply text-[var(--secondary-color)] text-2xl font-bold;
  }
  h4 {
    font-size: 15px;
  }
  .font-base-4 {
    font-size: 14px;
    line-height: normal;
  }
  .logoImg {
    width: 100px;
  }
  .socialImg {
    width: 30px;
  }
  .contactImg {
    width: 20px;
  }
  .cusineBoxPop {
    width: 280px;
    height: 280px;
  }
  .faqFont {
    font-size: 17px;
  }
}
